@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext');

@import "idai-components";
@import "timeline";
@import "edit";
@import "tag-cloud";
@import "geo/geomap";
@import "geo/leaflet";
@import "geo/leaflet-fullscreen";
@import "geo/MarkerCluster.Default";
@import "geo/MarkerCluster";
@import "geo/leaflet.draw";
@import "geo/leaflet-search.src";
@import "geo/Control.MiniMap.min";
@import "geo/tablesort";

body {
	padding-top: 70px;
}

.preserve-linebreaks {
	white-space: pre-line;
}

.panel .list-group-item {
	border: 0;
}

.well {
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 6px;
}


#teaser {
    height: 35vh;
	background-image: url('/img/frontpage-bgr.png');
	margin-top: -20px;
}

#frontpage-logo {
    margin-bottom: 25px;
}

main h1 {
    margin-top: -35px;
    background-color: rgba(255,255,255,0.7);
    font-size: 2.7em;
    font-weight: 300;
    color: #555;
    padding: 25px;
    border-radius: 6px;
}

main h1 img {
    width: 60px;
    margin-right: 10px;
}

.home-boxes {

	width: 1200px;

	.well {
		width: 580px;
		height: 340px;
		margin: 10px;

		h4 {
			margin-top: 0;
		}
	}
}
