.relation-type-dropdown {
	float: left;
	margin-right: 5px;

	.dropdown-menu li {
		cursor: pointer;
	}
}

.relation-list {
	margin-top: 12px;

	.input-group-addon {
		cursor: default;
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.relation-editor-controls {
	margin-top: 39px;
}

.idai-picker-wrapper {
	float: left;
	margin-right: 5px;
}