.relation-type-dropdown {
	float: left;
	margin-right: 5px;

	.dropdown-menu li {
		cursor: pointer;
	}
}

.relation-list {
	margin-top: 12px;
	cursor: default;

	.badge {
		background-color: #3a87ad;
		padding-left: 10px;
		padding-right: 2px;
		padding-bottom: 1px;

		a {
			color: white;
		}

		.glyphicon-remove {
			color: #ffffff;
		}

		.glyphicon-remove:hover {
			color: #d8d6d6;
		}
	}
}

.relation-editor-controls {
	margin-top: 39px;
}

.idai-picker-wrapper {
	float: left;
	margin-right: 5px;
}