$maxLevel: 6;
$maxGroups: 10;

.timeline-facets .panel {
    width: 300px;
    display: inline-block;

    .list-group {
        height: 250px;
        overflow-y: auto;
    }
}

.timeline {

  &:not(.inactive) {
    cursor: move;
  }

  &.inactive {
    cursor: default;
  }

  g.bar {
    path.selected {
      stroke: black;
      stroke-width: 1px;
    }

    &:not(.inactive) {
      cursor: pointer;
    }

    &.inactive {
      $baseColor: grey;
      @for $j from 1 to ($maxLevel+1) {
        &.level#{$j} {
          $color: darken($baseColor, percentage(0.5 / $maxLevel * $j));
          fill: rgba($color, 0.7);
        }
      }
    }

    @for $i from 0 to ($maxGroups) {

      &.group#{$i+1} {
        $baseColor: hsl( (360 / $maxGroups) * $i + 60, 60%, 50%);
        $defaultColor: darken($baseColor, 50%);
        fill: rgba($defaultColor, 0.7);
        &.hover {
          fill: $defaultColor;
        }
        @for $j from 1 to ($maxLevel+1) {
          &.level#{$j} {
            $color: darken($baseColor, percentage(0.5 / $maxLevel * $j));
            fill: rgba($color, 0.7);
            &.hover {
              fill: $color;
            }
          }
        }
      }
    }
  }

  .text {
    font-size: 14px;
    text-anchor: middle;
    fill: white;
    font-weight: 200;
    user-select: none;

    &:not(.inactive) {
      cursor: pointer;
    }
  }

  .axis {

    path {
      stroke: black;
      stroke-width: 2px;
      fill: none;
    }

    line {
      stroke: black;
      stroke-width: 1px;
      fill: none;
    }

    text {
      font-family: sans-serif;
      font-size: 11px;
      user-select: none;
    }

  }

}

.timeline-tooltip {
  border: 1px solid;
  padding: 2px 6px;
  background-color: white;
  position: absolute;
  z-index: 10;
  visibility: hidden;
}

.inactiveHint {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100px;
  padding-top: 90px;
  padding-right: 40px;
  font-size: 20px;
  z-index: 3;
  user-select: none;
}

.timeline-zoom-buttons {
    position: absolute;

    .btn {
      font-size: 22px;
      padding: 0px 10px;
    }

    .btn:focus,
    .btn:active {
      outline: none;
    }
}

.timeline-container-small {
  height: 300px;

  .timeline-zoom-buttons {
    top: 9px;
    left: 24px;
  }
}

.timeline-container-big {
  height: calc(100vh - 500px);

  .timeline-zoom-buttons {
    top: 390px;
    left: 24px;
  }
}
