$maxLevel: 6;
$maxGroups: 10;

.timeline {
  cursor: move;

  g.bar {
    cursor: pointer;
    transition: fill .5s ease;

    rect.selected {
      stroke: black;
      stroke-width: 1px;
    }

    @for $i from 0 to ($maxGroups) {
      &.group#{$i+1} {
        $baseColor: hsl( (360 / $maxGroups) * $i + 60, 60%, 50%);
        $defaultColor: darken($baseColor, 50%);
        fill: rgba($defaultColor, 0.7);
        &:hover {
          fill: $defaultColor;
        }
        @for $j from 1 to ($maxLevel+1) {
          &.level#{$j} {
            $color: darken($baseColor, percentage(0.5 / $maxLevel * $j));
            fill: rgba($color, 0.7);
            &:hover {
              fill: $color;
            }
          }
        }
      }
    }
  }

  .text {
    font-size: 14px;
    text-anchor: middle;
    cursor: pointer;
    fill: white;
    font-weight: 200;
  }

  .axis {

    path {
      stroke: black;
      stroke-width: 2px;
      fill: none;
    }

    line {
      stroke: black;
      stroke-width: 1px;
      fill: none;
    }

    text {
      font-family: sans-serif;
      font-size: 11px;
    }

  }

}

.timeline-tooltip {
  border: 1px solid;
  padding: 2px 6px;
  background-color: white;
  position: absolute;
  z-index: 10;
  visibility: hidden;
}

.timeline-container-small {
    height: 300px;
}

.timeline-container-big {
  height: 460px;
}