<header id="teaser"
        style="background-image: url('/img/frontpage-bgr.jpg'); margin-top: -20px;">
    <div class="description"></div>
</header>

<style>
    #teaser {
        height: 35vh;
    }

    #frontpage-logo {
        margin-bottom: 25px;
    }

    main h1 {
        margin-top: -35px;
        background-color: rgba(255,255,255,0.7);
        font-size: 2.7em;
        font-weight: 300;
        color: #555;
        padding: 25px;
        border-radius: 6px;
    }

    main h1 img {
        width: 60px;
        margin-right: 10px;
    }
</style>

<div class="container">
    <main>

        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center"
             style="margin-top: -25px; height:162px; min-width:358px; margin-bottom: 0px;">

            <h1>iDAI.chronontology</h1>

            <form ng-controller="SearchFormController" ng-submit="search()" class="input-group form-inline"
                  role="search" method="GET" id="search-form">
                <input type="text" ng-model="q" name="q" class="form-control" autofocus placeholder="{{ 'ui_placeholder_search' | transl8 }}"/>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">
							&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
						</button>
					</span>
            </form>
            <div style="text-align: right;">
            	<a ng-href="/search?q=*">{{ "ui_showall" | transl8 }}</a>
            </div>
        </div>


    </main>
</div>

<div class="container home-boxes">
    <div class="row">
        <div class="col-xs-4 well">
            <h4>{{"welcome" | transl8}}</h4>
            <p>
                iDAI.chronontology ist ein Webservice, der Zeitbegriffe mit
                Datierungen verbindet.
                Das chronOntology-Projekt wird von 2015 bis 2017 von der
                Deutschen Forschungsgemeinschaft (DFG) gefördert. Die
                Langzeitverfügbarkeit der Daten wird durch das DAI im Rahmen der
                <a
                href="http://www.dainst.org/forschung/forschung-digital/idai.welt
                ">iDAI.welt</a> garantiert.
                Weitere Informationen finden Sie <a ng-href="/about">hier</a>.
            </p>
            <p>
                Fragen, Anregungen und Kooperationsanfragen richten Sie bitte an:
                <a href="mailto:idai.chronontology@dainst.de">idai.chronontology@
                dainst.de</a>.
            </p>
        </div>
        <div class="col-xs-4 well">
            <h4>{{ "period_types" | transl8 }}</h4>
            <period-type-tag-cloud></period-type-tag-cloud>
        </div>
        <div class="col-xs-4 well">
            <h4>Screencast</h4>
            <iframe width="340" height="220" src="https://www.youtube.com/embed/HFhonVAwcbU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
