<header id="teaser">
    <div class="description"></div>
</header>

<main>

    <div class="text-center logo-box">

        <h1>
            <img src="/img/chronontology-symbol.jpg">
            <span style="color: #ccc; font-size: 0.8em;">iDAI.</span>chronontology
        </h1>

        <form ng-controller="SearchFormController" ng-submit="search()" class="input-group form-inline"
              role="search" method="GET" id="search-form">
            <input type="text" ng-model="q" name="q" class="form-control" autofocus placeholder="{{ 'ui_placeholder_search' | transl8 }}"/>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary">
						&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
					</button>
				</span>
        </form>
        <div class="links">
        	<a ng-href="/search?q=*">
                <span class="glyphicon glyphicon-search"></span>
                {{ "ui_showall" | transl8 }}
            </a>
        </div>
    </div>


</main>

<div class="container home-boxes">
    <div class="row">
        <div class="col-xs-6 well">
            <h4>{{ "example_queries" | transl8 }}</h4>
            <example-queries></example-queries>
        </div>
        <div class="col-xs-6 well">
            <h4>{{ "period_types" | transl8 }}</h4>
            <period-type-tag-cloud></period-type-tag-cloud>
        </div>
        <div class="col-xs-6 well">
            <h4>{{"welcome" | transl8}}</h4>
            <p>
                iDAI.chronontology ist ein Webservice, der Zeitbegriffe mit
                Datierungen verbindet.
                Das chronOntology-Projekt wird von 2015 bis 2017 von der
                Deutschen Forschungsgemeinschaft (DFG) gefördert. Die
                Langzeitverfügbarkeit der Daten wird durch das DAI im Rahmen der
                <a
                href="http://www.dainst.org/forschung/forschung-digital/idai.welt
                ">iDAI.welt</a> garantiert.
                Weitere Informationen finden Sie <a ng-href="/about">hier</a>.
            </p>
            <p>
                Fragen, Anregungen und Kooperationsanfragen richten Sie bitte an:
                <a href="mailto:idai.chronontology@dainst.de">idai.chronontology@
                dainst.de</a>.
            </p>
        </div>
        <div class="col-xs-6 well">
            <h4>Screencast</h4>
            <iframe width="540" height="280" src="https://www.youtube.com/embed/HFhonVAwcbU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
