<div class="container">
    <div ng-controller="PeriodController">

        <h2>{{ period.resource.prefLabel.de }}
            <small>http://chronontology.dainst.org{{ period['@id'] }}</small>
        </h2>

        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" ng-disabled="!fallsWithin"
               ng-href="{{ fallsWithin['@id'] }}">
                <span class="glyphicon glyphicon-arrow-up"></span> {{ fallsWithin.resource.prefLabel.de }}
            </a>
        </div>

        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" ng-disabled="!isMetInTimeBy"
               ng-href="{{ isMetInTimeBy['@id'] }}">
                <span class="glyphicon glyphicon-arrow-left"></span> {{ isMetInTimeBy.resource.prefLabel.de }}
            </a>
            <a class="btn btn-primary" disabled="disabled">
                {{ period.resource.prefLabel.de }}
            </a>
            <a class="btn btn-default" ng-disabled="!meetsInTimeWith"
               ng-href="{{ meetsInTimeWith['@id'] }}">
                {{ meetsInTimeWith.resource.prefLabel.de }} <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </div>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">

            <div class="col-md-4">

                <div class="text-right">
                    <div class="btn-group-vertical" style="display:block;" ng-show="contains.length > 0">
                        <a ng-repeat="period in contains"
                           ng-href="{{ period['@id'] }}"
                           class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down"></span> {{ period.resource.prefLabel.de }}
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-md-8">

                <ul class="nav nav-tabs">
                    <li ng-class="{ 'active': !edit }"><a href="#" ng-click="edit = false">Anzeigen</a></li>
                    <li ng-class="{ 'active': edit }"><a href="#" ng-click="edit = true">Bearbeiten</a></li>
                </ul>

                <div ng-show="!edit" style="margin: 30px 0;">

                    <h4>Informationen zur Epoche</h4>

                    <dl class="dl-horizontal">

                        <br>

                        <dt>Namen</dt>
                        <dd>{{ period.resource.prefLabel.de }}</dd>
                        <br>

                        <dt>Provenienz</dt>
                        <dd>
                            <a ng-href="/thesaurus/{{ period.resource.provenance }}">{{ period.resource.provenance
                                }}</a>
                        </dd>
                        <br>

                        <dt>Erstellt</dt>
                        <dd>{{ period.created.date | isoDate | date:'medium' }}</dd>
                        <br>

                        <dt>Geändert</dt>
                        <dd ng-repeat="m in period.modified">{{ m.date | isoDate | date:'medium' }}</dd>
                        <br>

                    </dl>
                </div>

                <div ng-show="edit" style="margin: 30px 0;">

                    <h4>Informationen zur Epoche</h4>

                    <br>

                    <form class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Namen</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="period.resource.prefLabel.de"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Provenienz</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="period.resource.provenance"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button ng-click="save()" class="btn btn-primary">Speichern</button>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">JSON</h4>
                    </div>
                    <div class="panel-body">
                        <pre>{{ period | json }}</pre>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>