<div class="container-fluid">
    <div ng-controller="PeriodController">

        <h2>{{ period.prefLabel.de }}
            <small>{{ period.types.join(", ") }}</small>
            <br/>
            <small>http://chronontology.dainst.org{{ document['@id'] }}</small>
        </h2>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">

            <div class="col-md-5">

                <div class="well well-sm">
                    <timeline periods="provenancePeriods" selected-period-id="document['@id']" height="300"></timeline>
                </div>

                <div class="embed-responsive embed-responsive-4by3">
                    <iframe id="geo" ng-src="{{ geoFrameUrl }}" allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-md-7">

                <ul class="nav nav-tabs">
                    <li ng-class="{ 'active': !activeTab }">
                        <a href="#" ng-click="activeTab = false">Informationen</a>
                    </li>
                    <li ng-class="{ 'active': (activeTab == 'json') }">
                        <a hreg="#" ng-click="activeTab = 'json'">JSON</a>
                    </li>
                    <li>
                        <a target='_blank' href="http://localhost:8084/#/edit/{{period['@id'].replace('/period/','')}}">
                            <span class="glyphicon glyphicon-edit"></span> Bearbeiten
                        </a>
                    </li>
                </ul>

                <div ng-show="!activeTab" style="margin: 30px 0;">

                    <h4>Informationen zur Epoche</h4>

                    <dl class="dl-horizontal">

                        <dt>Namen</dt>
                        <span ng-repeat="(lang, names) in period.names">
                            <dd ng-repeat="name in names">
                                {{ name }} <i>({{lang}})</i>
                            </dd>
                        </span>
                        <br>

                        <dt>Epochentyp</dt>
                        <dd ng-repeat="type in period.types">{{ type }}</dd>
                        <br>

                        <span ng-show="period.description">
                            <dt>Beschreibung</dt>
                            <dd>{{ period.description }}</dd>
                            <br>
                        </span>

                        <span ng-show="period.hasTimespan">
                            <dt>Zeitliche Ausdehnung</dt>
                            <dd ng-repeat="timespan in period.hasTimespan">
                                {{ timespan.timeOriginal }}
                            </dd>
                            <br>
                        </span>

                        <dt>Provenienz</dt>
                        <dd>
                            <a ng-href="/thesaurus/{{ period.provenance }}">{{ period.provenance
                                }}</a>
                        </dd>
                        <br>

                    </dl>

                    <dl class="dl-horizontal">

                        <h4>Beziehungen</h4>

                        <span ng-repeat="(relation,label) in relations">
                            <span ng-if="period[relation]">
                                <dt>{{label}}</dt>
                                <dd ng-repeat="document in relatedDocuments[relation]">
                                    <a ng-href="{{document['@id']}}">{{document.resource.prefLabel.de}}</a>
                                </dd>
                                <br>
                            </span>
                        </span>

                        <span ng-show="period.spatiallyPartOfRegion">
                        <dt>Räumlich Teil von</dt>
                            <dd ng-repeat="region in period.spatiallyPartOfRegion">
                                <a ng-href="{{region}}" target="_blank">
                                    {{region}} <span class="glyphicon glyphicon-new-window"></span>
                                </a>
                            </dd>
                            <br>
                        </span>

                    </dl>

                    <h4>Dokumentmetadaten</h4>

                    <dl class="dl-horizontal">                        

                        <dt>Erstellt</dt>
                        <dd>
                            {{ document.created.date | isoDate | date:'medium' }}
                            ({{document.created.user}})
                        </dd>
                        <br>

                        <dt>Geändert</dt>
                        <dd ng-repeat="m in document.modified">
                            {{ m.date | isoDate | date:'medium' }}
                            ({{ m.user }})
                        </dd>
                        <br>

                    </dl>

                </div>

                <div ng-show="activeTab == 'json'" style="margin: 30px 0;">

                    <h4>JSON Daten</h4>

                    <button type="button"
                            class="btn btn-primary btn-xs"
                            style="margin-top: 5px;"
                            ng-click="exportJSON()">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Herunterladen
                    </button>

                    <pre>{{ document | json }}</pre>
                </div>

            </div>

        </div>

    </div>
</div>