<div class="container-fluid">
    <div ng-controller="PeriodController">

        <h2>{{ period.prefLabel.de }}
            <small>{{ period.types.join(", ") }}</small>
            <br/>
            <small>http://chronontology.dainst.org/period/{{ document.resource.id }}</small>
        </h2>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">

            <div class="col-md-5">

                <div class="well well-sm timeline-container-small">
                    <timeline periods="provenancePeriods" selected-period-id="document.resource.id"></timeline>
                </div>

                <div class="embed-responsive embed-responsive-4by3">
                    <iframe id="geo" ng-src="{{ geoFrameUrl }}" allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-md-7">

                <ul class="nav nav-tabs">
                    <li ng-class="{ 'active': !activeTab }">
                        <a href="#" ng-click="activeTab = false">Informationen</a>
                    </li>
                    <li ng-class="{ 'active': (activeTab == 'json') }">
                        <a hreg="#" ng-click="activeTab = 'json'">JSON</a>
                    </li>
                    <li>
                        <a target='_blank' href="http://localhost:8084/#/edit/{{document.resource.id}}">
                            <span class="glyphicon glyphicon-edit"></span> Bearbeiten
                        </a>
                    </li>
                </ul>

                <div ng-show="!activeTab" style="margin: 30px 0;">

                    <h4>Informationen zur Epoche</h4>

                    <dl class="dl-horizontal">

                        <dt>Namen</dt>
                        <span ng-repeat="language in period.names">
                            <dd ng-repeat="name in language.content">
                                {{ name }} <i>({{language.lang}})</i>
                            </dd>
                        </span>
                        <br>

                        <dt>Epochentyp</dt>
                        <dd ng-repeat="type in period.types">{{ type }}</dd>
                        <br>

                        <dt>Provenienz</dt>
                        <dd>
                            <a ng-href="/thesaurus/{{ period.provenance }}">{{ period.provenance }}</a>
                            <span ng-show="period.externalId">(originale ID: {{ period.externalId }})</span>
                       </dd>
                        <br>

                        <span ng-show="period.definition">
                            <dt>Definition</dt>
                            <dd class="preserve-linebreaks">{{ period.definition }}</dd>
                            <br>
                        </span>

                        <span ng-show="period.description">
                            <dt>Beschreibung</dt>
                            <dd class="preserve-linebreaks">{{ period.description }}</dd>
                            <br>
                        </span>

                        <span ng-show="period.tags">
                            <dt>Tags</dt>
                        	<dd>{{ period.tags.join(", ") }}</dd>
                            <br>
                        </span>

                        <span ng-show="period.note">
                            <dt>Notiz</dt>
                            <dd class="preserve-linebreaks">{{ period.note }}</dd>
                            <br>
                        </span>

                        <span ng-show="period.hasTimespan">
                            <dt>Zeitliche Ausdehnung</dt>
							<span ng-show="period.ongoing">
								<dd>dauert noch an</dd>
								<br>
							</span>
                            <dd ng-repeat="timespan in period.hasTimespan">
                                {{ timespan.timeOriginal }}
                                <br>
                                <span ng-show="timespan.begin">
                                	Beginn: 
                                	<span ng-show="timespan.begin.at">
                                		{{ timespan.begin.at }}
                                		<span ng-show="timespan.begin.atPrecision">
                                			({{ timespan.begin.atPrecision }})
                                		</span>
                                	</span>
                                	<span ng-show="timespan.begin.notBefore">nicht vor {{ timespan.begin.notBefore }}</span>
                                	<span ng-show="timespan.begin.notAfter">nicht nach {{ timespan.begin.notAfter }}</span>
                                	<br>
                                </span>
                                <span ng-show="timespan.end">
                                	Ende: 
                                	<span ng-show="timespan.end.at">
                                		{{ timespan.end.at }}
                                		<span ng-show="timespan.end.atPrecision">
                                			({{ timespan.end.atPrecision }})
                                		</span>
                                	</span>
                                	<span ng-show="timespan.end.notBefore">nicht vor {{ timespan.end.notBefore }}</span>
                                	<span ng-show="timespan.end.notAfter">nicht nach {{ timespan.end.notAfter }}</span>
                                	<br>
                                </span>
                                <span ng-show="timespan.calendar">Kalender: {{ timespan.calendar }}<br></span>
                                <span ng-show="timespan.sourceOriginal">Quelle: {{ timespan.sourceOriginal }}<br></span>
                                <span ng-show="timespan.sourceURL"><a ng-href="{{timespan.sourceURL}}">{{timespan.sourceURL}}</a><br></span>
                            </dd>
                            <br>
                        </span>

                    </dl>

                    <dl class="dl-horizontal">

                        <h4>Beziehungen</h4>

                        <span ng-repeat="(relation,label) in internalRelations">
                            <span ng-if="period.relations[relation]">
                                <dt>{{label}}</dt>
                                <dd ng-repeat="document in relatedDocuments[relation]">
                                    <a ng-href="/period/{{document.resource.id}}">{{document.resource.prefLabel.de}}</a>
                                    ({{ document.resource.types.join(", ") }})
                                    {{ document.resource.provenance }}
                                </dd>
                                <br>
                            </span>
                        </span>

                        <span ng-repeat="(gazetteerRelation,label) in gazetteerRelations">
                            <span ng-if="period[gazetteerRelation]">
                                <dt>{{label}}</dt>				
								<dd ng-repeat="region in period[gazetteerRelation]">
									<a ng-href="{{region}}" target="_blank">
										{{region}} <span class="glyphicon glyphicon-new-window"></span>
									</a>
								</dd>
                                <br>
                            </span>
                        </span>

                    </dl>

                    <h4>Dokumentmetadaten</h4>

                    <dl class="dl-horizontal">                        

                        <dt>Erstellt</dt>
                        <dd>
                            {{ document.created.date | isoDate | date:'medium' }}
                            ({{document.created.user}})
                        </dd>
                        <br>

                        <dt>Geändert</dt>
                        <dd ng-repeat="m in document.modified">
                            {{ m.date | isoDate | date:'medium' }}
                            ({{ m.user }})
                        </dd>
                        <br>

                    </dl>

                </div>

                <div ng-show="activeTab == 'json'" style="margin: 30px 0;">

                    <h4>JSON Daten</h4>

                    <button type="button"
                            class="btn btn-primary btn-xs"
                            style="margin-top: 5px;"
                            ng-click="exportJSON()">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Herunterladen
                    </button>

                    <pre>{{ document | json }}</pre>
                </div>

            </div>

        </div>

    </div>
</div>