<div class="container" ng-controller="SearchController">
    <div class="row">

        <div class="col-md-3">
            <h3>{{"ui_filter_plural" | transl8}}</h3>
            <span ng-repeat="facette in facetList">
                <search-filter
                    facette="facette"
                    facets="facets"
                    query="query">
                </search-filter>
            </span>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{"ui_filter_exists" | transl8}}</b>
                </div>
                <ul class="list-group">
                    <search-exists-filter
                        ng-repeat="field in existsList"
                        field="field"
                        query="query">
                    </search-exists-filter>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <nav aria-label="...">
              <ul class="pager">
                <li ng-if="getPrevious() < 0" class="previous disabled">
                    <a>
                        <span aria-hidden="true">&larr;</span> {{"ui_previous"|transl8}}
                    </a>
                </li>
                <li ng-if="getPrevious() >= 0" class="previous">
                    <a ng-href="/search?q={{query.q}}{{getFacetValues()}}&amp;from={{getPrevious()}}">
                        <span aria-hidden="true">&larr;</span> {{"ui_previous"|transl8}}
                    </a>
                </li>

                <strong ng-if="total">
                    {{"ui_page"|transl8}} {{getCurrentPage()|transl8Number}} / {{getTotalPages()|transl8Number}}
                    — {{"ui_total"|transl8}} {{total|transl8Number}} {{"ui_entries"|transl8}}
                </strong>

                <li  ng-if="getNext() >= total" class="next disabled">
                    <a>
                        {{"ui_next"|transl8}} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                <li  ng-if="getNext() < total" class="next">
                    <a ng-href="/search?q={{query.q}}{{getFacetValues()}}&amp;from={{getNext()}}">
                        {{"ui_next"|transl8}} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
              </ul>
            </nav>

            <table class="table table-striped" style="height:300px">

                <thead>
                <tr>
                    <th>{{ "period_prefName" | transl8 }}</th>
                    <th>{{ "period_region" | transl8 }}</th>
                    <th>{{ "period_type" | transl8 }}</th>
                    <th>{{ "period_provenance" | transl8 }}</th>
                </tr>
                </thead>

                <tbody>


                <tr ng-repeat="period in periods" style="border-bottom: 1px solid #ddd;">
                    <td><a ng-href="/period/{{ period.resource.id }}">{{ period.resource.names | prefName }}</a></td>
                    <td>{{ period | getRegion }}</td>
                    <td>{{period.resource.types.join(", ")}}</td>
                    <td><a ng-href="/provenance/{{ period.resource.provenance }}">{{ period.resource.provenance }}</a></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
