@charset "utf-8";
.map-container {
  height: 500px !important;
   position: relative;
   &.empty {
       filter: grayscale(100%);
   }
}
.map2-container {
  height: 500px !important;
   position: relative;
   &.empty {
       filter: grayscale(100%);
   }
}
.map3-container {
  height: 500px !important;
   position: relative;
   &.empty {
       filter: grayscale(100%);
   }
}
.maploading {
  position: absolute;
  width: 100%;
  text-align:center;
  margin-top: 180px;
  font-size: 40px;
  z-index: 3;

  .glyphicon {
      animation-name: spin;
      animation-duration: 8000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
}
.mapempty {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 450px;
  padding-top: 190px;
  font-size: 20px;
  z-index: 3;
}
.legend {
  line-height: 14px;
  color: #555;
}
.legend box {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 8px;
  opacity: 1;
  border: 2px solid transparent;
  margin-bottom: 2px;
  clear:both;
}
.legend content {
  height: 14px;
  float: left;
  margin-bottom: 2px;
}
.linehr {
  border: solid #AAAAAA 0.02em;
  margin-top: 8px;
  margin-bottom: 8px;
}
.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: auto;
  font-size: 12px;
}
.info h4 {
  margin: 0px;
  color: #777;
  font-size: 14px;
  font-weight: 700;
}
.info span {
  font-size: 12px;
  margin: 0px;
}
