@charset "utf-8";
.map-container {
  height: 500px !important;
   position: relative;
   &.empty {
       filter: grayscale(100%);
   }
}
.map2-container {
  height: 500px !important;
   position: relative;
   &.empty {
       filter: grayscale(100%);
   }
}
.map3-container {
  height: 500px !important;
   position: relative;
   &.empty {
       filter: grayscale(100%);
   }
}
.map4-container {
  height: 500px !important;
   position: relative;
   &.empty {
       filter: grayscale(100%);
   }
}
table.widget {
  width: 100%;
  background:#fff;
  max-width:100%;
  border-spacing:0;
  width:100%;
  margin:10px 0;
  border:1px solid #ddd;
  border-collapse:separate;
}
table.widget th,
table.widget td {
  padding:8px;
  line-height:18px;
  text-align:left;
  border-top:1px solid #ddd;
}
table.widget th {
  background:#eee;
  background:-webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eee));
  background:-moz-linear-gradient(top, #f6f6f6, #eee);
  text-shadow:0 1px 0 #fff;
  font-weight:bold;
  vertical-align:bottom;
}
table.widget td {
  vertical-align:top;
}
table.widget thead:first-child tr th,
table.widget thead:first-child tr td {
  border-top:0;
}
table.widget tbody + tbody {
  border-top:2px solid #ddd;
}
table.widget th + th,
table.widget td + td,
table.widget th + td,
table.widget td + th {
  border-left:1px solid #ddd;
}
table.widget thead:first-child tr:first-child th,
table.widget tbody:first-child tr:first-child th,
table.widget tbody:first-child tr:first-child td {
  border-top:0;
}

.table-wrapper {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.maploading {
  position: absolute;
  width: 100%;
  text-align:center;
  margin-top: 180px;
  font-size: 40px;
  z-index: 3;

  .glyphicon {
      animation-name: spin;
      animation-duration: 8000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
}
.mapempty {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 450px;
  padding-top: 190px;
  font-size: 20px;
  z-index: 3;
}
.legend {
  line-height: 14px;
  color: #555;
}
.legend box {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 8px;
  opacity: 1;
  border: 2px solid transparent;
  margin-bottom: 2px;
  clear:both;
}
.legend content {
  height: 14px;
  float: left;
  margin-bottom: 2px;
}
.linehr {
  border: solid #AAAAAA 0.02em;
  margin-top: 8px;
  margin-bottom: 8px;
}
.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: auto;
  font-size: 12px;
}
.info h4 {
  margin: 0px;
  color: #777;
  font-size: 14px;
  font-weight: 700;
}
.info span {
  font-size: 12px;
  margin: 0px;
}
