<h3>{{ "ui_periodInfo" | transl8 }}</h3>

<dl class="dl-horizontal">

    <dt>{{ "period_names" | transl8 }}</dt>
    <span ng-repeat="language in $ctrl.period.names">
        <dd ng-repeat="name in language.content">
            {{ name }} <i>({{language.lang}})</i>
        </dd>
    </span>
    <br>

    <dt>{{ "period_type" | transl8 }}</dt>
    <dd ng-repeat="type in $ctrl.period.types">{{ type }}</dd>
    <br>

    <dt>{{ "period_provenance" | transl8 }}</dt>
    <dd>
        <a ng-href="/thesaurus/{{ $ctrl.period.provenance }}">{{ $ctrl.period.provenance }}</a>
        <span ng-if="$ctrl.period.externalId">(originale ID: {{ $ctrl.period.externalId }})</span>
    </dd>
    <br>

    <span ng-if="$ctrl.period.definition">
        <dt>{{ "period_definition" | transl8 }}</dt>
        <dd class="preserve-linebreaks">{{ $ctrl.period.definition }}</dd>
        <br>
    </span>

    <span ng-if="$ctrl.period.description">
        <dt>{{ "period_description" | transl8 }}</dt>
        <dd class="preserve-linebreaks">{{ $ctrl.period.description }}</dd>
        <br>
    </span>

    <span ng-if="$ctrl.period.tags">
        <dt>{{ "period_tags" | transl8 }}</dt>
        <dd>{{ $ctrl.period.tags.join(", ") }}</dd>
        <br>
    </span>

    <span ng-if="$ctrl.period.note">
        <dt>{{ "period_note" | transl8 }}</dt>
        <dd class="preserve-linebreaks">{{ $ctrl.period.note }}</dd>
        <br>
    </span>

    <span ng-if="$ctrl.period.hasTimespan">
        <dt>{{ "period_temporalExtent" | transl8 }}</dt>
        <span ng-if="$ctrl.period.ongoing">
            <dd>{{ "period_ongoing" | transl8 }}</dd>
            <br>
        </span>
        <dd ng-repeat="timespan in $ctrl.period.hasTimespan">
            {{ timespan.timeOriginal }}
            <br>
            <span ng-if="timespan.begin">
                {{ "temporal_begin" | transl8 }}
                <span ng-if="timespan.begin.at">
                    {{ timespan.begin.at }}
                    <span ng-if="timespan.begin.atPrecision">
                        ({{ timespan.begin.atPrecision }})
                    </span>
                </span>
                <span ng-if="timespan.begin.notBefore">{{ "temporal_notBefore" | transl8 }} {{ timespan.begin.notBefore }}</span>
                <span ng-if="timespan.begin.notAfter">{{ "temporal_notAfter" | transl8 }} {{ timespan.begin.notAfter }}</span>
                <br>
            </span>
            <span ng-if="timespan.end">
                {{ "temporal_end" | transl8 }}
                <span ng-if="timespan.end.at">
                    {{ timespan.end.at }}
                    <span ng-if="timespan.end.atPrecision">
                        ({{ timespan.end.atPrecision }})
                    </span>
                </span>
                <span ng-if="timespan.end.notBefore">{{ "temporal_notBefore" | transl8 }} {{ timespan.end.notBefore }}</span>
                <span ng-if="timespan.end.notAfter">{{ "temporal_notAfter" | transl8 }} {{ timespan.end.notAfter }}</span>
                <br>
            </span>
            <span ng-if="timespan.calendar">{{ "temporal_calendar" | transl8 }} {{ timespan.calendar }}<br></span>
            <span ng-if="timespan.sourceOriginal">{{ "ui_source" | transl8 }} {{ timespan.sourceOriginal }}<br></span>
            <span ng-if="timespan.sourceURL"><a ng-href="{{timespan.sourceURL}}">{{timespan.sourceURL}}</a><br></span>
        </dd>
        <br>
    </span>
</dl>

<dl class="dl-horizontal">

    <h4>{{ "ui_relations" | transl8 }}</h4>

    <span ng-repeat="relation in $ctrl.internalRelations">
        <span ng-if="$ctrl.period.relations[relation]">
            <dt>{{ "relation_"+relation | transl8 }}</dt>
            <dd ng-repeat="document in $ctrl.relatedDocuments[relation]">
                <a ng-href="/period/{{document.resource.id}}">{{ document.resource.names | prefName }}</a>
                ({{ document.resource.types.join(", ") }})
                {{ document.resource.provenance }}
            </dd>
            <br>
        </span>
    </span>

    <span ng-repeat="gazetteerRelation in $ctrl.gazetteerRelations">
        <span ng-if="$ctrl.period[gazetteerRelation]">
            <dt>{{ "relation_"+gazetteerRelation | transl8 }}</dt>
            <dd ng-repeat="region in $ctrl.period[gazetteerRelation]">
                <a ng-href="{{region}}" target="_blank">
                    {{region}} <span class="glyphicon glyphicon-new-window"></span>
                </a>
            </dd>
            <br>
        </span>
    </span>

    <span ng-repeat="allenRelation in $ctrl.allenRelations">
        <span ng-if="$ctrl.period.relations[allenRelation]">
            <dt>{{ "relation_"+allenRelation | transl8 }}</dt>
            <dd ng-repeat="document in $ctrl.relatedDocuments[allenRelation]">
                <a ng-href="/period/{{document.resource.id}}">{{ document.resource.names | prefName }}</a>
                ({{ document.resource.types.join(", ") }})
                {{ document.resource.provenance }}
            </dd>
            <br>
        </span>
    </span>

<span ng-if="$ctrl.period.relations.derived">

    <h4>{{ "ui_derivedRelations" | transl8 }}</h4>

    <span ng-repeat="relation in $ctrl.internalRelations">
        <span ng-if="$ctrl.period.relations.derived[relation]">
            <dt>{{ "relation_"+relation | transl8 }}</dt>
            <dd ng-repeat="document in $ctrl.relatedDocuments.derived[relation]">
                <a ng-href="/period/{{document.resource.id}}">{{ document.resource.names | prefName }}</a>
                ({{ document.resource.types.join(", ") }})
                {{ document.resource.provenance }}
            </dd>
            <br>
        </span>
    </span>

    <span ng-repeat="gazetteerRelation in $ctrl.gazetteerRelations">
        <span ng-if="$ctrl.period.derived[gazetteerRelation]">
            <dt>{{ "relation_"+gazetteerRelation | transl8 }}</dt>
            <dd ng-repeat="region in $ctrl.period.derived[gazetteerRelation]">
                <a ng-href="{{region}}" target="_blank">
                    {{region}} <span class="glyphicon glyphicon-new-window"></span>
                </a>
            </dd>
            <br>
        </span>
    </span>

    <span ng-repeat="allenRelation in $ctrl.allenRelations">
        <span ng-if="$ctrl.period.relations.derived[allenRelation]">
            <dt>{{ "relation_"+allenRelation | transl8 }}</dt>
            <dd ng-repeat="document in $ctrl.relatedDocuments.derived[allenRelation]">
                <a ng-href="/period/{{document.resource.id}}">{{ document.resource.names | prefName }}</a>
                ({{ document.resource.types.join(", ") }})
                {{ document.resource.provenance }}
            </dd>
            <br>
        </span>
    </span>

</span>

</dl>

<h4>{{ "ui_metadata" | transl8 }}</h4>

<dl class="dl-horizontal">

    <dt>{{ "ui_created" | transl8 }}</dt>
    <dd>
        {{$ctrl.document.created.date | isoDate | date:'medium' }}
        ({{$ctrl.document.created.user}})
    </dd>
    <br>

    <dt>{{ "ui_modified" | transl8 }}</dt>
    <dd ng-repeat="m in $ctrl.document.modified">
        {{ m.date | isoDate | date:'medium' }}
        ({{ m.user }})
    </dd>
    <br>

</dl>