<div class="idai-picker">
    <script type="text/ng-template" id="geopickerResource_modal.html">
        <div class="panel panel-default picker-modal">
            <div class="panel-heading">
                <form class="form-inline">
                    <select id="gazetteertype" ng-model="gazetteerType" class="form-control">
                        <option value="dai">idai.gazetteer</option>
                        <option value="getty">Getty TGN</option>
                        <option value="geonames" selected>GeoNames</option>
                        <option value="pleiades">Pleiades</option>
                    </select>
                    <div class="input-group">
                        <input id="gazetteerid" type="text" ng-model="gazetteerId"
                            class="form-control" autofocus>
                        </input>
                        <span class="input-group-btn">
                            <button ng-click="$ctrl.loadTable()" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default"
                                ng-class="{'active': view == 'list'}"
                                ng-click="$ctrl.setView('list')">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-class="{'active': view == 'map'}"
                                ng-click="$ctrl.setView('map')">
                            <span class="glyphicon glyphicon-globe"></span>
                        </button>
                    </div>
                </form>
                <geosearchresultslist ng-if="view == 'list'"
                    datasource='{{datasource}}'></geosearchresultslist>
                <geosearchresults ng-if="view == 'map'"
                    datasource='{{datasource}}'></geosearchresults>
                <div id="list"></div>
            </div>
        </div>
    </script>

    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="$ctrl.openModal()">
                <span class="glyphicon glyphicon-map-marker"></span>
            </button>
        </span>
        <span class="form-control">
            <span ng-show="!selectedItem" class="ng-binding">Wählen Sie einen Eintrag</span>
            <a ng-show="selectedItem &amp;&amp; selectedItem['@id']" ng-href=""
                target="_blank" class="ng-binding ng-hide">: </a>
            <span ng-show="selectedItem &amp;&amp; !selectedItem['@id']"
                class="ng-binding ng-hide">: </span>
            <button class="btn btn-link btn-xs ng-hide" ng-show="selectedItem"
                    ng-click="selectedItem = undefined">
                <span class="glyphicon glyphicon-remove-sign text-muted"></span>
            </button>
        </span>
    </div>
</div>
