<h4>{{$ctrl.facette}}</h4>
<span ng-repeat="facet in $ctrl.facets[$ctrl.addResource($ctrl.facette)].buckets">
	<span ng-if="$ctrl.isFacetValueSelected($ctrl.facette, facet.key)">
		{{facet.key}}
		<a ng-href="/search?q={{query.q}}{{$ctrl.getFacetValuesExcept($ctrl.facette, facet.key)}}">
			(remove)
		</a>
	</span>
	<span ng-if="!$ctrl.isFacetValueSelected($ctrl.facette, facet.key)">
		<a ng-href="/search?q={{query.q}}{{$ctrl.getFacetValues()}}&amp;fq={{$ctrl.facette}}:{{facet.key}}">
			{{facet.key}} {{facet.doc_count}}
		</a>
	</span>
	<br/>
</span>
